<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProperty scope="context" name="springAppName" source="spring.application.name" defaultValue="discord-api"/>

    <appender name="CONSOLE_JSON" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern><![CDATA[{"timestamp":"%d{yyyy-MM-dd'T'HH:mm:ss.SSSXXX}","level":"%level","service":"${springAppName}","thread":"%thread","logger":"%logger{40}","trace_id":"%X{traceId:-}","span_id":"%X{spanId:-}","request_id":"%X{request_id:-}","http_method":"%X{http_method:-}","http_path":"%X{http_path:-}","http_status":"%X{http_status:-}","message":"%replace(%replace(%message){'\\','\\\\'}){'"','\\"'}"}%n]]></pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE_JSON"/>
    </root>
</configuration>
